<!DOCTYPE html>
<html>
  <head>
 
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/javascripts/components/bootstrap/dist/css/bootstrap.css">
    <script src="/javascripts/components/angular/angular.js"></script>
      <script src="/javascripts/components/jquery/dist/jquery.js"></script>
   <!-- <script src="/javascripts/controllers/mplay-control.js"></script>-->
<script type="text/javascript">
    angular.module('Locadora',[]).run(function($rootScope) {
      $rootScope.titulo = 'Locadora de Filmes';
    })


.service('BuscarFilmeAPI' ,function($http, $q){
  var servico = this;
  servico.Buscar = function (sNome){
    var resultado = $q.defer();

    var urlAPI = 'http://essearch.allocine.net/br/autocomplete?q=' + sNome;

     $http.get(urlAPI).then(function(resposta){
          var lista = resposta.data.map (function(filmeAPI) {
            return{
              titulo: (filmeAPI.title1) ? filmeAPI.title1 : filmeAPI.title2,
              urlCapa: filmeAPI.thumbnail,
              infoAdicional : filmeAPI.metadata.map(function(metadataAPI){
                return{ 
                       legenda: metadataAPI.property,
                       descricao: metadataAPI.value
                  }
               
              })              
           }
          });

          resultado.resolve(lista);

     }, function(){
         resultado.reject()

    });
     return resultado.promise;

   
  }
})

.controller('ListaFilmeController', function(BuscarFilmeAPI){
   var ctrl = this;
   ctrl.titulo = 'Encontre seu filme';
   ctrl.textoBusca = null;
   ctrl.Buscar = function (){
    BuscarFilmeAPI.Buscar (ctrl.textoBusca).then(function(lista){
       ctrl.lista = lista;
       console.log(lista)
    })
  }
})






</script>
  <style>
    ul { list-style-type: none;padding: 0px;margin: 0px; }
    ul li { margin: 5px 0px; }
  </style>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Locadora de Filmes</h1>

      <button class="btn btn-warning">
        Carrinho 
        <span class="badge">0</span>
      </button>

      <button class="btn btn-danger">
        Notificações
        <span class="badge">0</span>
      </button>
    </div>

    <div class="panel panel-primary" ng-controller="ListaFilmeController as lf">
      <div class="panel-heading">{{lf.titulo }}</div>

      <div class="panel-body">
        <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="lf.Buscar();">Go!</button>
      </span>
      <input type="text" ng-model="lf.textoBusca" class="form-control" placeholder="Search for...">
    </div><!-- /input-group -->
  
      </div>
    </div>
  </div>

  


</body>
</html>
